.container{
    display: flex;
    flex-direction: column;
    height: 100%;

    .title{
        flex-grow: 1;
        justify-content: center;
        display: flex;
        align-items: center;
        & img :global{
            animation: rotation 10s infinite linear;
        }
        .letters{
            display: flex;
            & .and{
                font-size: 120px;
                padding: 28px;
            }
            & .elements{
                padding: 28px;
                flex-grow: 2;
            }        
        }
        
    }

    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        & div:hover{
            color: yellow;
        }
    }
}
