.container{    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name{
        padding: 60px;
        font-size: larger;
        color: goldenrod;
    }
    .characterInfo{
        display: flex;
        height: 100%;
        width: 100%;
        .stats{
            flex: 1;
            padding: 20px;
        }
        .skin{
            flex: 1;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{
                max-width: 50%;
                max-height: 100%;
            }
            
        }
    }
    
}